/ARCHIVES of old articles
/viewable by general public, i.e. not admin protected
-if current_user
  =link_to 'Add an Article', new_article_path, :class => "large_link"
  
%h1 Every story we've ever told:
%table.archive
  %tr
    %th Date
    %th Title
    %th Chef
  - @articles.each do |article|
    %tr.a-row
      %td= l article.created_at, :format => :formal      
      %td=link_to article.title, article_url(article)
      %td= article.author
      -if current_user
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete
        %td views: #{article.impressionist_count}
%br/
= link_to 'New Article', new_article_path


/ %div.article_list
/   =render :partial => "/shared/archive_item", :collection => @archive_items 