/where users view the article
/publicly viewable
=render 'shared/mast'
%p#notice= notice

%h1= @article.title
%p
  =unless @article.assets.empty?
    =image_tag(@article.assets.first.image.url(:article))
%p
  %b= @article.blurb
%p
  = simple_format(@article.content)
%p  
  = @article.author
= link_to 'Edit', edit_article_path(@article)
= link_to 'Back', articles_path